.filter-bar {
    border: 1px solid var(--primary-color);
    border-radius: 40px;
    width: fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: auto;
}

.modal-container{
    display: flex;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.searchbar-icon{
    font-size: 2rem;
    color:green
}