* {
    box-sizing: border-box;
}

.notes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    width: 100%;
    margin: 5rem auto;
    border-radius: 5px;
}

.note {
    background-color: var(--white-background);
    border-radius: 5px;
    width: 50rem;
    padding: 0 15px;
}

.note-header {
    display: flex;
    justify-content: space-between;
    color: var(--black-text-color);
}

.action-icon {
    height: 18px;
    width: 18px;
    margin-top: 10px;
}

.note-body {
    line-height: 1.5;
    color: var(--black-text-color);
}

.note-footer {
    display: flex;
    justify-content: space-between;
    line-height: 3;
}

.action-icons {
    display: flex;
    justify-content: space-around;
}

.note-title {
    color: var(--black-text-color);
}

textarea {
    border: none;
    color: var(--black-text-color);
}

.note-title {
    width: 100%;
}

.note-body {
    width: 100%;
    color: var(--black-text-color);
}

.tag {
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    padding: 5px;
    font-size: 1rem;
    width: fit-content;
    color: var(--black-text-color);
}

.chip {
    font-size: 1.5rem;
    padding: 10px;
    color: var(--black-text-color);
}

.label-chips {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.date {
    color: var(--black-text-color);
}

.note-close {
    margin: 0;
    padding: 1rem;
    cursor: pointer;
}

.notes-priority {
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--black-text-color);
}

.notes-tags {
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--black-text-color);
}

.tag-chip {
    padding: 3px 5px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}