.notes-sidebar{
    display: flex;
    flex-direction: column;
    min-height: 57vh;
}

.inline-item{
    display: inline-flex;
    align-items: center;
    line-height: 3;
}

.sidebar-icon{
    font-size: 2rem;
    color:var(--primary-color)
}