.labels {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

.add-tag {
    margin: 1.5rem auto;
}

.chip {
    height: 3.5rem;
    margin: 1rem;
    cursor: pointer;
}